{% extends 'base.html' %}
{% block block1 %}
<br>
<center>
<b><h3>Acquisition Statistics</h3></b>
<br>
<h4>Consignments</h4>
<table style="width: auto;" class="table table-striped">
    <tr>
        <td>Titles acquired on current consignment number ({{ curcons }})</td><td>:</td><td><b>{{ total_proc }}</b></td>
    </tr>
    <tr>
    <td>Total expense for acquired titles (in IDR)</td><td>:</td><td><b> {{ total_expense }} </b></td>
    </tr>
    <tr>
        <td>Titles catalogued and end processed</td><td>:</td><td><b> {{ bookcount }} </b></td>
    </tr>
</table>
<br>

<h5>Acquisition by supplier's names</h5>
<table style="width: auto;" class="table table-striped">
    <tr bgcolor='lightgrey'>
        <td><b>Supplier's name</b></td>
        <td align="center"><b>Titles count</b></td>
        

    </tr>
    {% for x in vendor_count %}
   
    <tr>
        <td>{{ x.vendor__name }}</a></td>
        <td align="center">{{ x.vendorcount }}</td>
        

    </tr>
    
    {% endfor %}
    </table>
<br>    
<h5>Acquisition by supplier's categories</h5>
<table style="width: auto;" class="table table-striped">
    <tr bgcolor='lightgrey'>
        <td><b>Supplier's category</b></td>
        <td align="center"><b>Titles count</b></td>

    </tr>
    {% for x in vendor_cat %}
   
    <tr>
        <td>{{ x.vendor__category }}</a></td>
        <td align="center">{{ x.vendorcount }}</td>

    </tr>
    
    {% endfor %}
    </table>

<br><br>
</center>
{% endblock %}
