{% extends 'base.html' %}
{% block block1 %}
<br>
<center>
<b><h3>Acquisition Statistics</h3></b>
<br>
<h4>Consignments</h4>
<table style="width: auto;" class="table table-striped">
    <tr>
        <td>Titles acquired on current consignment number ({{ curcons }})</td><td>:</td><td><b>{{ total_proc }}</b></td>
    </tr>
    <tr>
        <td>Titles catalogued and end processed</td><td>:</td><td><b> {{ bookcount }} </b></td>
    </tr>
</table>
<br>
<h4>Supplier</h3>
<table style="width: auto;" class="table table-striped">
    <tr bgcolor='lightgrey'>
        <td><b>Supplier</b></td>
        <td align="center"><b>Count</b></td>

    </tr>
    {% for x in vendor_count %}
    <tr>
        <td>{{ x.vendor }}</a></td>
        <td align="center">{{ x.vendorcount }}</td>

    </tr>
    {% endfor %}
    </table>

<br><br>
</center>
{% endblock %}
