<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jakarta Office Statistics Project</title>
</head>
<body bgcolor="lightblue">
    <center><h2>Jakarta Office Statistics</h2></center>
    <center>=========================================</center>
{% block block1 %}
<center>
    <table border=0>
        <tr>
            <td>|<a href="/cat_stat/">Cataloguing Statistics</a>|</td>
            <td>|<a href="/acq_stat/">Acquisition Statistics</a>|</td>
        </tr>
    </table>
</center>
<h3>Introduction</h3>
{% lorem %}


<br><br>
<a href="/cat_stat/">Cataloguing Statistics</a>
<br>
<a href="/acq_stat/">Acquisition Statistics</a>
{% endblock %}
<br><br><br>
<center>rs2022</center>
</body>
</html>