<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLA Jkt Statistics Project</title>
</head>
<body bgcolor="lightblue">
    <center><h2>Jakarta Office Realtime Statistics</h2></center>
    <center>=========================================</center>
{% block block1 %}
<h3>Introduction</h3>
{% lorem %} 
{% load static %}
<br><br><img src="{% static 'img/nla_building.jpg' %}">
<br><br>
<a href="/cat_stat/">Cataloguing Statistics</a>
<br>
<a href="/acq_stat/">Acquisition Statistics</a>
{% endblock %}
<br><br>
rsantoso
</body>
</html>