{% extends 'base.html'%}
{% block block1 %}

<br><br><center>
<table style="width: auto;" class="table table-striped">
    <tr bgcolor = 'grey'>
      <b><td>No</td>
        <td align="center">Title</td>
        <td align="center">Genre</td></b>
    </tr>
    {% for x in paging %}
    <tr>
        <td>{{ forloop.counter0|add:paging.start_index }}</td>
        <td>{{ x.title }}</td>
        <td>{{ x.genre }}</td>
    </tr>
    {% endfor %}
</table>
{% include 'pagination_jakartaoffice.html' %}</center>
<br><br>

{% endblock %}
